<ion-header>
  <ion-buttons>
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offsetLg="1" offsetXl="2" sizeXl="7" sizeLg="9" sizeMd="11" sizeSm="11">

        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label>Nome Cliente :</ion-label>
              <p>{{order?.client.name}}</p>
            </ion-item>
            <ion-item>
              <ion-label>Cognome Cliente :</ion-label>
              <p>{{order?.client.surname}}</p>
            </ion-item>
            <ion-item *ngIf="order?.client.graphicLink">
              <ion-label style="color: dodgerblue;">Link file grafica :</ion-label>
              <p> <a href="{{order?.client.graphicLink}}">{{order?.client.graphicLink}} </a></p>
            </ion-item>
            <ion-item>
              <ion-label>Indirizzo Di Fatturazione Cliente :</ion-label>
              <p>{{order?.client.billingAddress}}</p>
            </ion-item>
            <ion-item>
              <ion-label>Indirizzo Di Spedizione Cliente :</ion-label>
              <p>{{order?.client.shippingAddress}}</p>
            </ion-item>
            <ion-item *ngIf="!order?.client.isBusiness">
              <ion-label>Codice Fiscale Cliente :</ion-label>
              <p> {{order?.client.cf}} </p>
            </ion-item>
            <ion-item>
              <ion-label>Email Cliente :</ion-label>
              <p>{{order?.client.email}}</p>
            </ion-item>
            <ion-item>
              <ion-label>Numero di Telefono Cliente :</ion-label>
              <p>{{order?.client.cellphoneNumber}}</p>
            </ion-item>
            <ion-item *ngIf="order?.client.isBusiness">
              <ion-label>Ragione Sociale Cliente :</ion-label>
              <p>{{order?.client.businessName}}</p>
            </ion-item>
            <ion-item *ngIf="order?.client.isBusiness">
              <ion-label>pIVA Cliente :</ion-label>
              <p> {{order?.client.piva}} </p>
            </ion-item>
            <ion-item *ngIf="order?.client.isBusiness">
              <ion-label>SDI Cliente :</ion-label>
              <p>{{order?.client.sdi}}</p>
            </ion-item>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXl="8" sizeLg="10" sizeMd="12" sizeSm="12">
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label>Descrizione lavoro :</ion-label>
              <textarea readonly>{{order?.typeOfWork}}</textarea>
            </ion-item>
            <ion-item>
              <ion-label>Tipologia di lavorazione :</ion-label>
              <p>{{order?.typesOfProcessing.name}}</p>
            </ion-item>
            <ion-item>
              <ion-label>Tipologia materiale :</ion-label>
              <p>{{order?.typesOfMaterial.name}}</p>
            </ion-item>
            <ion-item>
              <ion-label>Dimensioni articolo :</ion-label>
              <p>{{order?.itemSize}}</p>
            </ion-item>
            <ion-item>
              <ion-label>Indicazioni del cliente :</ion-label>
              <textarea readonly>{{order?.clientIndications}}</textarea>
            </ion-item>
            <ion-item>
              <ion-label>Data di consegna :</ion-label>
              <p>{{order?.deliveryDate}}</p>
            </ion-item>
            <ion-item *ngIf="order?.isCompleted">
              <ion-label>#TAG STATO ORDINE :</ion-label>
              <p *ngFor="let tag of order?.tags">
                {{tag?.name}}
              </p>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>