ion-select {
  background-color: white;
  border: 1px solid #e94e1b;
  border-radius: 10px;
}

#number {
  color: #e94e1b;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.manage {
  font-size: x-large;
}

.selectable {
  color: gray;
}

.tags-select {
  color: gray;
  width: 250px;
}

.tags-div {
  >p {
    margin-left: 1%;
    font-size: medium;
  }

  text-align: left;
  color: green;
}

.button-bottom {
  display: flex;
}

.storage-modify{
  span{
    margin-left: 5px;
  }
}