<ion-header>
	<ion-toolbar>
		<ion-title>
			<ion-icon name="document-outline"></ion-icon>
			LISTA ORDINI
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content style="--padding-start: 0px!important;--padding-end: 0px!important;">
	<ion-grid>
		<ion-row>
			<ion-col size="12">
				<ion-searchbar [debounce]="750"
					[(ngModel)]="term"
					(ngModelChange)="search()"
					animated>
				</ion-searchbar>
			</ion-col>
			<ion-col>
				<ion-item *ngIf="false"
					class="selectable">
					<ion-label>Cerca per cliente</ion-label>
					<ionic-selectable [searchPlaceholder]="'inserisci nome e cognome'"
						[(ngModel)]="client"
						[items]="clients"
						[canSearch]="true"
						[hasInfiniteScroll]="true"
						(onChange)="cleanClient($event)"
						(onSearch)="searchByClient($event)"
						(onInfiniteScroll)="getMoreClients($event)"
						name="privateClients"
						itemValueField="id"
						itemTextField="fullname">
					</ionic-selectable>
					<ion-button [fill]="'clear'"
						(click)="cleanClient('clean')"
						size="small">
						<ion-icon name="refresh-outline"></ion-icon>
					</ion-button>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<filter *ngIf="role === 'amministrazione'"
					(filterChange)="onFilterChange($event)"></filter>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12">
				<ion-card class="section">
					<ion-card-content>
						<ion-button *ngIf="role=== 'amministrazione'"
							shape="round"
							size="small"
							routerLink="/dashboard/order">
							<ion-icon name="add-outline"></ion-icon>
						</ion-button>
						<ion-button id="open-modal"
							shape="round"
							size="small">
							Scarica ordini
						</ion-button>
						<ion-button (click)="updateList()"
							shape="round"
							size="small"
							style="float: right">
							<ion-icon name="refresh-outline"></ion-icon>
						</ion-button>
						<div class="table-wrapper">
							<table class="default">
								<thead>
									<tr>
										<th>N°</th>
										<th>Nome</th>
										<th>Cognome</th>
										<th>
											Tipologia lavorazione
										</th>
										<th>Tipologia materiale</th>
										<th>Dimensioni articolo</th>
										<th>Grafica presente</th>
										<th>Data consegna</th>
										<th>Assegnato a</th>
										<th *ngIf="role === 'amministrazione'">#TAG stato ordine</th>
										<th>GESTISCI</th>
									</tr>
								</thead>
								<tbody *ngIf="!orders.length ">
									<tr class="ion-text-center">
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td style="text-align: center">Nessun Ordine</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td *ngIf="role === 'amministrazione'"></td>
									</tr>
								</tbody>

								<tbody>
									<tr *ngFor="let order of orders,let i = index">
										<td id="number">{{order.id}}</td>
										<td>
											{{order.client?.name}}
										</td>
										<td>
											{{order.client?.surname}}
										</td>
										<td>
											{{order.typesOfProcessing?.name}}
										</td>
										<td>
											{{order.typesOfMaterial?.name}}
										</td>
										<td>{{order.itemSize}}</td>
										<td>
											<a *ngIf="order.client?.graphicLink"
												href="{{order.client?.graphicLink}}"
												target="_blank">
												SI
												<br>
												(clicca qui)
											</a>
											<div *ngIf="!order.client?.graphicLink"
												style="text-align: center">
												NO
											</div>
											<div *ngIf="(role === 'grafica' || role ==='grafica_2') ">
												<ion-button (click)="addGraphic(order.client)"
													size="small">
													Aggiungere / Cambiare Link Grafica
												</ion-button>
											</div>
										</td>
										<td>
											{{order.deliveryDate | date:'dd/MM/YYYY'}}
										</td>
										<td *ngIf="!order.isArchived">
											ORA IN :
											<strong>{{order.role.name}}</strong>
											<br>
											ASSEGNA A:
											<ion-select [(ngModel)]="order.role"
												[interface]="'popover'"
												(ngModelChange)="changeState(order)"
												placeholder="inserisci assegnazione ruolo"
												name
												id>
												<ion-select-option *ngFor="let role of roles"
													value="{{role.id}}">
													{{role.name}}
												</ion-select-option>
											</ion-select>
										</td>
										<td *ngIf="order.isArchived">
											ORA IN :
											<strong>
												{{order.role?.name}}
											</strong>
										</td>
										<td *ngIf="role === 'amministrazione' && !order.isArchived">
											<ion-select [compareWith]="compareWith"
												[(ngModel)]="order.tags"
												(ngModelChange)="updateTags(order)"
												class="tags-select"
												multiple
												placeholder="Selezione Multipla"
												name="tags">
												<ion-select-option *ngFor="let tag of tags"
													[value]="tag">
													{{tag?.name}}
												</ion-select-option>
											</ion-select>
											<div *ngIf="order.tags.length"
												class="tags-div">
												<p *ngFor="let tag of order.tags , let i= index ">{{tag.name}}</p>
											</div>
										</td>
										<td *ngIf="role=== 'amministrazione' && order.isArchived"
											style="color: blueviolet">
											#ARCHIVIATO
										</td>
										<td>
											<div>
												<ion-select (ionChange)="select($event,order)"
													class="manage"
													placeholder="⚙">
													<ion-select-option *ngIf="!order.isArchived"
														value="goToChangeOrder">
														🖊 Modifica
													</ion-select-option>
													<ion-select-option *ngIf="role=== 'amministrazione'"
														value="deleteOrder">
														❌ Elimina
													</ion-select-option>
													<ion-select-option value="completeOrder">✅ Completa</ion-select-option>
													<ion-select-option *ngIf="role=== 'amministrazione' && !order.isArchived"
														value="storeOrder">
														📦 Archivia
													</ion-select-option>
													<ion-select-option *ngIf="role=== 'amministrazione' && order.isArchived"
														value="restoreOrder">
														🔄 Ripristina
													</ion-select-option>
													<ion-select-option *ngIf="role=== 'amministrazione' && order.isCompleted && !order.isArchived"
														value="removeCompletion">
														⛔ Rimuovi "Completato"
													</ion-select-option>
													<ion-select-option value="changeInPreventive">
														⏪ Sposta in Preventivi
													</ion-select-option>
												</ion-select>
											</div>
											<div class="button-bottom">
												<div>
													<ion-button [size]="'small'"
														[disabled]="notesService.notesCount(order) === 0"
														(click)="openModal(order)">
														<ion-icon [name]="'mail-outline'"
															slot="icon-only">
														</ion-icon>
														<span>
															{{notesService.notesCount(order)}}
														</span>
													</ion-button>
												</div>
												<div>
													<ion-button [size]="'small'"
														(click)="seePreview(order)">
														<ion-icon [name]="'tv-outline'"
															slot="icon-only">
														</ion-icon>
													</ion-button>
												</div>
												<div class="storage-modify">
													<ion-button [size]="'small'"
														[disabled]="storageModifyService.storageModifyCount(order) === 0"
														(click)="seeStorageModify(order)">
														<ion-icon name="receipt-outline"></ion-icon>
														<span>
															{{storageModifyService.storageModifyCount(order)}}
														</span>
													</ion-button>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<ion-button (click)="getNextPage()"
							shape="round"
							size="small"
							size="small">
							vedi altri...
						</ion-button>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-modal trigger="open-modal">
		<ng-template>
			<ion-header>
				<ion-toolbar>
					<ion-title>
						Scarica lista ordini in XLSX
					</ion-title>
				</ion-toolbar>
			</ion-header>
			<ion-content class="ion-padding">
				<filter (filterChange)="xlsxFilter = $event"></filter>
				<ion-button (click)="downloadXLSX()"
					shape="round"
					size="small">
					Scarica
				</ion-button>
			</ion-content>
		</ng-template>
	</ion-modal>
</ion-content>
