<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>SALVA ORDINE<ion-icon name="document-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!routeToTags && !isBusinessClient">
    <ion-card-content>
      <ion-item>
        <ion-label>
          <p><strong> CLIENTI PRIVATI ESISTENTI :</strong></p>
        </ion-label>
        <ionic-selectable [(ngModel)]="client" [items]="privateClients" itemValueField="id" itemTextField="fullname"
          [canSearch]="true" (onChange)="cleanClient($event)">
        </ionic-selectable>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!routeToTags && isBusinessClient">
    <ion-card-content>
      <ion-item>
        <ion-label>
          <p><strong> CLIENTI BUSINESS ESISTENTI :</strong></p>
        </ion-label>
        <ionic-selectable [(ngModel)]="client" [items]="businessClients" itemValueField="id" itemTextField="fullname"
          [canSearch]="true" (onChange)="cleanClient($event)">
        </ionic-selectable>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <form #addOrderForm="ngForm">
    <ion-card>
      <ion-card-content>
        <ion-item *ngIf="!routeToTags">
          <ion-label>ATTIVA CLIENTE BUSINESS :</ion-label>
          <ion-toggle name="choose" [(ngModel)]="isBusinessClient"></ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>


    <ion-card *ngIf="!routeToTags && !isBusinessClient">
      <ion-card-content>
        <p class="ion-text-center"><strong> ANAGRAFICA CLIENTE PRIVATO: </strong></p>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Nome</ion-label>
          <ion-input placeholder="*inserisci nome*" name="name" [(ngModel)]="client.name" required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Cognome</ion-label>
          <ion-input placeholder="*inserisci cognome*" name="surname" [(ngModel)]="client.surname" required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Grafica presente</ion-label>
          <ion-toggle name="graphicPresentChoose" [(ngModel)]="graphicPresentChoose"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="graphicPresentChoose && !routeToTags">
          <ion-label style="color: dodgerblue;">Link file grafica</ion-label>
          <ion-input placeholder="*inserisci link file Grafica*" type="url" [(ngModel)]="client.graphicLink"
            name="graphicLink" required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Indirizzo di Fatturazione</ion-label>
          <ion-input placeholder="*inserisci indirizzo di fatturazione" name="billingAddress"
            [(ngModel)]="client.billingAddress" required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-button size="small" name="sameAddressChoose" slot="start"
            (click)="sameAddress()" >
            Copia da "indirizzo di Fatturazione"
          </ion-button>
          <ion-label>Indirizzo Di Spedizione</ion-label>
          <ion-input placeholder="*inserisci indirizzo di spedizione" name="shippingAddress"
            [(ngModel)]="client.shippingAddress" required [readonly]="client.id">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Codice Fiscale:</ion-label>
          <ion-input placeholder="*inserisci CF*" name="cf" [(ngModel)]="client.cf " required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Email</ion-label>
          <ion-input placeholder="*inserisci email*" type="email" name="email" [(ngModel)]="client.email" required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Numero di Telefono</ion-label>
          <ion-input placeholder="*inserisci numero di telefono*" type="number" name="cellphoneNumber"
            [(ngModel)]="client.cellphoneNumber" required>
          </ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>


    <ion-card *ngIf="!routeToTags && isBusinessClient">
      <ion-card-content>
        <p class="ion-text-center"><strong>ANAGRAFICA CLIENTE BUSINESS: </strong></p>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Nome</ion-label>
          <ion-input placeholder="*inserisci nome*" name="name" [(ngModel)]="client.name" required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Cognome</ion-label>
          <ion-input placeholder="*inserisci cognome*" name="surname" [(ngModel)]="client.surname" required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Grafica presente</ion-label>
          <ion-toggle name="graphicPresentChoose" [(ngModel)]="graphicPresentChoose"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="graphicPresentChoose && !routeToTags">
          <ion-label style="color: dodgerblue;">Link file grafica</ion-label>
          <ion-input placeholder="*inserisci link file Grafica*" type="url" [(ngModel)]="client.graphicLink"
            name="graphicLink" required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Ragione Sociale</ion-label>
          <ion-input placeholder="*inserisci ragione sociale" name="businessName" [(ngModel)]="client.businessName"
            required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>pIVA</ion-label>
          <ion-input placeholder="*inserisci pIVA*" name="piva" [(ngModel)]="client.piva " required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Indirizzo di Fatturazione</ion-label>
          <ion-input placeholder="*inserisci indirizzo di fatturazione*" name="billingAddress"
            [(ngModel)]="client.billingAddress" required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label> *stesso indirizzo* </ion-label>
          <ion-toggle name="sameAddressChoose" [(ngModel)]="sameAddressChoose" (ionChange)="sameAddress()"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Indirizzo Di Spedizione</ion-label>
          <ion-input placeholder="*inserisci indirizzo di spedizione" name="shippingAddress"
            [(ngModel)]="client.shippingAddress" required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>SDI</ion-label>
          <ion-input placeholder="*inserisci SDI*" name="sdi" [(ngModel)]="client.sdi" required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Email</ion-label>
          <ion-input placeholder="*inserisci email*" name="email" [(ngModel)]="client.email" required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Numero di Telefono</ion-label>
          <ion-input placeholder="*inserisci numero di telefono*" name="cellphoneNumber"
            [(ngModel)]="client.cellphoneNumber" required>
          </ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <p class="ion-text-center"><strong>DETTAGLI ORDINE : </strong></p>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Descrizione lavoro</ion-label>
          <ion-input placeholder="*inserisci tipologia lavoro*" name="typeOfWork" [(ngModel)]="order.typeOfWork"
            required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Tipologia di lavorazione</ion-label>
          <ion-select placeholder="*Seleziona Uno*" [interface]="'popover'" name="typeOfProcessing"
            [compareWith]="compareWith" [(ngModel)]="order.typesOfProcessing" required>
            <ion-select-option [value]="typeOfProcessing" *ngFor="let typeOfProcessing of typesOfProcessing">
              {{typeOfProcessing.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Tipologia materiale</ion-label>
          <ion-select placeholder="*Seleziona Uno*" [interface]="'popover'" name="typeOfMaterial"
            [(ngModel)]="order.typesOfMaterial" [compareWith]="compareWith" required>
            <ion-select-option [value]="material" *ngFor="let material of materials">
              {{material.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Dimensioni articolo</ion-label>
          <ion-input placeholder="*inserisci Dimensioni Articolo*" name="itemSize" [(ngModel)]="order.itemSize"
            required>
          </ion-input>
        </ion-item>
        <ion-item *ngIf=" !routeToTags">
          <ion-label>Indicazioni del cliente</ion-label>
          <ion-textarea [rows]="4" placeholder="inserisci Indicazioni del cliente" name="clientIndications"
            [(ngModel)]="order.clientIndications">
          </ion-textarea>
        </ion-item>
        <ion-item *ngIf="!routeToTags">
          <ion-label>Data di consegna</ion-label>
          <ion-datetime placeholder="*Seleziona Data*" displayFormat="MMM DD, YYYY" name="deliveryDate"
            [(ngModel)]="order.deliveryDate" required>
          </ion-datetime>
        </ion-item>
        <ion-item *ngIf="order.isCompleted  && routeToTags">
          <ion-label>#TAG STATO ORDINE</ion-label>
          <ion-select multiple placeholder="Selezione Multipla" name="tags" [compareWith]="compareWith"
            [(ngModel)]="order.tags">
            <ion-select-option [value]="tag" *ngFor="let tag of tags">
              {{tag.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button shape="round" class="float-right" (click)="addOrder()" [disabled]="addOrderForm.invalid">
      SALVA ORDINE
      <ion-icon name="document-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>