<ion-header>
  <ion-toolbar>
    <ion-title>TEMPISTICHE ORDINI <ion-icon name="stopwatch-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar animated [debounce]="500" [(ngModel)]="term" (ngModelChange)="search()"></ion-searchbar>
  <filter [inTimingPage]="inTimingPage" (filterChange)="onFilterChange($event)"></filter>

  <ion-card class="section">
    <ion-card-content>
      <table class="default">
        <thead>
          <tr>
            <th> N° ORDINE</th>
            <th>ORE in AMMINISTRAZIONE</th>
            <th>ORE in GRAFICA</th>
            <th>ORE in PRODUZIONE</th>
            <th>Stato</th>
            <th style="text-align: center;">GESTISCI</th>
          </tr>
        </thead>
        <tbody *ngIf="!orders.length">
          <tr class="ion-text-center">
            <td></td>
            <td></td>
            <td>Nessun Ordine</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let order of orders">
            <td style="color: rgb(189, 42, 42);font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
              {{order.id}}
            </td>
            <td>
              {{order.status?.s1 || '0'}} h
            </td>
            <td>
              {{order.status?.s3 || '0'}} h
            </td>
            <td>
              {{order.status?.s4 || '0'}} h
            </td>
            <td *ngIf="!order.isArchived" style="color: green;">
              ATTIVO
            </td>
            <td *ngIf="order.isArchived" style="color: blueviolet ;">
              ARCHIVIATO
            </td>
            <td style="text-align: center;">
              <ion-button shape="round" size="small" size="icon-only" (click)="openModal(order)">
                <ion-icon name="stopwatch-outline"></ion-icon>
              </ion-button>
            </td>
          </tr>
        </tbody>
      </table>

      <ion-button shape="round" size="small" (click)="getNextPage()">vedi altri...</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>