<ion-header *ngIf="!storageForNote">
  <ion-toolbar>
    <ion-title style="color: red">STORAGE</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"> Close </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="order && !order.logs.length && !storageForNote">
    <ion-card>
      <ion-card-content>
        <p style="text-align: center">
          <strong>NESSUNA TEMPISTICA PER QUESTO ORDINE</strong>
        </p>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="order && order.logs.length && !storageForNote">
    <ion-card>
      <ion-card-content>
        <div *ngFor="let log of order.logs; let i = index">
          <p style="color: brown">
            da : &nbsp;
            <strong>{{ older[i].name }}</strong> &nbsp; a : &nbsp;
            <strong> {{ newer[i].name }} </strong> &nbsp; Il giorno: &nbsp;
            <strong> {{ log.created_at | date: "dd/MM/YYYY" }} </strong>
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ion-header *ngIf="storageForNote">
    <ion-toolbar>
      <ion-title style="color: red">MESSAGGISTICA</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()"> Close </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ng-container *ngIf="storageForNote && !order.notes.length">
    <ion-card>
      <ion-card-content>
        <p style="text-align: center">
          <strong>NESSUNA NOTA</strong>
        </p>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="storageForNote && order.notes.length">
    <ion-card>
      <ion-card-content>
        <div *ngFor="let note of order.notes; let i = index" class="note-div">
          DA: <strong> {{ older[i].name }} </strong> A:
          <strong> {{ newer[i].name }} </strong> <br />
          NOTA : <br />
          <span> "{{ note.textNote }}" </span>
          <br />
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
