<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>CREA MATERIALE <ion-icon name="cube-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="wrapper">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">NOME MATERIALE</ion-label>
          <ion-input placeholder="inserisci nome Materiale" [(ngModel)]="material.name"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button shape="round" size="small" class="float-right" (click)="createMaterial()">
      SALVA MATERIALE <ion-icon name="cube-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>