<ion-header>
    <ion-buttons>
      <ion-back-button> </ion-back-button>
    </ion-buttons>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offsetLg="1" offsetXl="2" offsetMd="1" sizeSm="12" sizeMd="10" sizeLg="10" sizeXl="8">
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">NOME MATERIALE</ion-label>
              <ion-input placeholder="inserisci nome Materiale" [(ngModel)]="material.name"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button shape="block" size="medium" (click)="createMaterial()">
      SALVA MATERIALE <ion-icon name="cube-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>