ion-input {
  border-radius: 5px;
  --background: whitesmoke;
}

h1 {
  color: #e94e1b;
}

ion-card {
  margin: auto;
  margin-top: 15%;
  width: 30%;
}

.seePass {
  position: absolute;
  right: 5px;
}

.data {
  margin: 20px;
}

.errors {
  font-size: small;
  color: white;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
