<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="wrapper">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">NOME UTENTE</ion-label>
          <ion-input placeholder="inserisci nome utente" [(ngModel)]="login.identifier"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">PASSWORD</ion-label>
          <ion-input placeholder="inserisci password" [type]=" type ? 'password' : 'text' "
            [(ngModel)]="login.password"> </ion-input>
          <ion-icon name="eye" (click)="type = !type" size="small" slot="end"></ion-icon>
        </ion-item>
        <ion-button expand="block" (click)="sendData()">ACCEDI</ion-button>
        <p class="wrong-pass" *ngIf="wrong"> Password errata :( ... </p>
      </ion-card-content>
    </ion-card>
  </div>



</ion-content>