<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="file-tray-stacked-outline"></ion-icon>
      LISTA ORDINI COMPLETATI
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  style="--padding-start: 0px!important;--padding-end: 0px!important;">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar
          animated
          [debounce]="500"
          [(ngModel)]="term"
          (ngModelChange)="search()"
        >
        </ion-searchbar>
      </ion-col>
      <ion-col *ngIf="false">
        <ion-item class="selectable">
          <ion-label>Cerca per cliente</ion-label>
          <ionic-selectable
            [searchPlaceholder]="'inserisci nome e cognome'"
            name="privateClients"
            [(ngModel)]="client"
            [items]="clients"
            itemValueField="id"
            itemTextField="fullname"
            [canSearch]="true"
            (onChange)="cleanClient($event)"
            (onSearch)="searchByClient($event)"
            [hasInfiniteScroll]="true"
            (onInfiniteScroll)="getMoreClients($event)"
          >
          </ionic-selectable>
          <ion-button
            [fill]="'clear'"
            size="small"
            (click)="cleanClient('clean')"
          >
            <ion-icon name="refresh-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <filter
          [inCompletedPage]="inCompletedPage"
          [(filters)]="fullFilters"
          (filtersChange)="onFilterChange($event)"
        ></filter>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card class="section">
          <ion-card-content>
            <ion-button
              shape="round"
              size="small"
              style="float: right"
              (click)="updateList()"
            >
              <ion-icon name="refresh-outline"></ion-icon>
            </ion-button>
            <div class="table-wrapper">
              <table class="complete">
                <thead>
                  <tr>
                    <th>N°</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Tipologia lavorazione</th>
                    <th>Tipologia materiale</th>
                    <th>Dimensioni articolo</th>
                    <th>Grafica presente</th>
                    <th>Data consegna</th>
                    <th>Assegnato a</th>
                    <th>#TAG stato ordine</th>
                    <th>GESTISCI</th>
                  </tr>
                </thead>
                <tbody *ngIf="!orders.length">
                  <tr class="ion-text-center">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: center">Nessun Ordine Completato</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>

                <tbody>
                  <tr *ngFor="let order of orders,let i = index">
                    <td
                      style="
                        color: green;
                        font-family: Impact, Haettenschweiler,
                          'Arial Narrow Bold', sans-serif;
                      "
                    >
                      {{order.id}}
                    </td>
                    <td>{{order.client?.name}}</td>
                    <td>{{order.client?.surname}}</td>
                    <td>{{order.typesOfProcessing?.name}}</td>
                    <td>{{order.typesOfMaterial?.name}}</td>
                    <td>{{order.itemSize}}</td>
                    <td>
                      <a
                        href="{{order.client?.graphicLink}}"
                        target="_blank"
                        *ngIf="order.client?.graphicLink"
                      >
                        SI <br />(clicca qui)
                      </a>
                      <div
                        *ngIf="!order.client?.graphicLink"
                        style="text-align: center"
                      >
                        NO
                      </div>
                    </td>
                    <td>{{order.deliveryDate | date:'dd/MM/YYYY'}}</td>
                    <td>ORA IN : <strong>{{order.role?.name}}</strong></td>
                    <td>
                      <ion-select
                        class="tags-select"
                        multiple
                        placeholder="Selezione Multipla"
                        name="tags"
                        [compareWith]="compareWith"
                        [(ngModel)]="order.tags"
                        (ngModelChange)="updateTags(order)"
                      >
                        <ion-select-option
                          [value]="tag"
                          *ngFor="let tag of tags"
                        >
                          {{tag?.name}}
                        </ion-select-option>
                      </ion-select>
                      <div *ngIf="order.tags.length" class="tags-div">
                        <p *ngFor="let tag of order.tags , let i= index ">
                          {{tag.name}}
                        </p>
                      </div>
                    </td>
                    <td>
                      <div>
                        <ion-select
                          class="manage"
                          (ionChange)="select($event,order)"
                          placeholder="⚙"
                        >
                          <ion-select-option value="goToChangeOrder">
                            🖊 Modifica
                          </ion-select-option>
                          <ion-select-option value="deleteOrder">
                            ❌ Elimina
                          </ion-select-option>
                          <ion-select-option value="storeOrder">
                            📦 Archivia
                          </ion-select-option>
                          <ion-select-option
                            value="removeCompletion"
                            *ngIf="order.isCompleted"
                          >
                            ⛔ Rimuovi "Completato"
                          </ion-select-option>
                          <ion-select-option value="changeInPreventive">
                            ⏪ Sposta in Preventivi
                          </ion-select-option>
                        </ion-select>
                      </div>
                      <div class="button-bottom">
                        <div>
                          <ion-button
                            [size]="'small'"
                            [disabled]="notesService.notesCount(order) == 0"
                            (click)="openModal(order)"
                          >
                            <ion-icon slot="icon-only" [name]="'mail-outline'">
                            </ion-icon>
                            <span>{{notesService.notesCount(order)}}</span>
                          </ion-button>
                        </div>
                        <div>
                          <ion-button
                            [size]="'small'"
                            (click)="seePreview(order)"
                          >
                            <ion-icon slot="icon-only" [name]="'tv-outline'">
                            </ion-icon>
                          </ion-button>
                        </div>
                        <div class="storage-modify">
                          <ion-button
                            [size]="'small'"
                            [disabled]="storageModifyService.storageModifyCount(order) == 0"
                            (click)="seeStorageModify(order)"
                          >
                            <ion-icon name="receipt-outline"> </ion-icon>
                            <span
                              >{{storageModifyService.storageModifyCount(order)}}</span
                            >
                          </ion-button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ion-button
              shape="round"
              size="small"
              size="small"
              (click)="getNextPage()"
            >
              vedi altri...
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
