.note-div{
    border-bottom: 1px solid gray;
    margin-bottom: 5%;
    span{
        color: black;
        font-family:sans-serif;
    }
}

ion-card{
    box-shadow: none;
}

ion-title{
    color: red;
}