/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

table.default {
  width: calc(100% - 2em);
  margin: 1em;

  th,
  td {
    text-align: left;
    padding: 0.5em;
  }

  thead {
    border-radius: 1em;
    overflow: hidden;
    th {
      background: var(--ion-color-primary);
      color: var(--ion-color-primary-contrast);
    }
  }

  tbody {
    tr:nth-child(odd) {
      td {
        background: var(--ion-color-light);
      }
    }
  }
}

table.complete {
  width: calc(100% - 2em);
  margin: 1em;

  th,
  td {
    text-align: left;
    padding: 0.5em;
  }

  thead {
    border-radius: 1em;
    overflow: hidden;
    th {
      background: green;
      color: var(--ion-color-primary-contrast);
    }
  }

  tbody {
    tr:nth-child(odd) {
      td {
        background: var(--ion-color-light);
      }
    }
  }
}

table.preventive {
  width: calc(100% - 2em);
  margin: 1em;

  th,
  td {
    text-align: left;
    padding: 0.5em;
  }

  thead {
    border-radius: 1em;
    overflow: hidden;
    th {
      background: black;
      color: var(--ion-color-primary-contrast);
    }
  }

  tbody {
    tr:nth-child(odd) {
      td {
        background: var(--ion-color-light);
      }
    }
  }
}

.section {
  ion-card-content {
    ion-button {
      margin-left: 1.2em;
      margin-right: 1.2em;
    }
  }
}

.d-flex {
  display: flex;
  align-items: center;
  > * {
    flex: 1;
  }
}

@media only screen and (min-width: 1024px) {
  #main {
    ion-content {
      --padding-start: 7em !important;
      --padding-end: 7em !important;
    }
  }
}

.table-wrapper{
  overflow: hidden;
  overflow-x: auto;
}
